body {
  margin: 0 auto;
  width: 260px;
  height: 260px;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  border: #000 dashed;
}

p {
  font-family: sans-serif;
  font-size: 100px;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  margin-bottom: 25px;
}